body {
    background-color: #7e7b7b;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
h1, h2 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: #cfff5e;
}
a {
    color: #cfff5e;
    text-decoration: none;
}
a {
  color: #cfff5e;
  text-decoration: none;
  transition: all 0.35s ease;   /* hace suave el movimiento */
  display: inline-block;        /* permite movimiento */
}

/* efecto hover */
a:hover {
  transform: translateY(-5px); /* se eleva un poquito */
  text-shadow: 0px 0px 10px #eaff9e;
  letter-spacing: 1px;         /* se expande suave */
}

img {
    width: 20%;
    border-radius: 15px;

    margin: 20px auto;
}

h4 {
    color: #1900f6;
}